classic.coinos.io {
	handle_path /api* {
		reverse_proxy app:3119
	}

	handle /lnurl* {
		reverse_proxy app:3118
	}

	handle /ws* {
		reverse_proxy app:3119
	}

	handle {
		root * /coinos
		try_files {path}.html {path} /index.html
		file_server
	}

	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}

coinos.io {
  @cached {
    path *.jpg *.jpeg *.png *.gif *.ico *.webp *.css *.js /api/public*
  }

  header @cached Cache-Control "max-age=31536000, immutable"

  handle {
    reverse_proxy coinos:80
  }

	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}

v2.coinos.io {
	redir https://coinos.io{uri} permanent
}

bitcoingreenhouse.org {
	handle_path /api* {
		reverse_proxy app:3119
	}

	handle {
		reverse_proxy gh:3000
	}
}

adamsoltys.com {
	handle {
		root * /as
		file_server
	}
}

yummyyards.ca {
	handle {
		root * /yy
		file_server
	}
}

lynnlan.ca {
	handle {
		root * /ll
		file_server
	}
}

staging.coinos.io {
  reverse_proxy 192.168.1.64:80

	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}

staging2.coinos.io {
  reverse_proxy 192.168.1.64:80

	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}
